*{

  font-size: 10px;
}
  
.aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: white;
  background-color:red;
  border :solid 2px black;
  color: black;

}


.grid{

display:grid;

grid-template-columns: 18% 18% 18% 18% 18% 18%;

}

.container {

  display:flex;
  flex-direction: column;
  justify-content: left;
  width: 75px;
  height:100px;
  border-radius:5px;
  height:auto;
  animation: fadeIn 0.5s;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.insideDiv{

  width: 120%;
  height:20%;
  margin:2px;
  display:flex;
  align-items: center;
  justify-content: center;
  border : solid 2px white;
  border-radius: 10px;
  padding:2%;
  cursor:pointer;
  box-shadow: 1px 1px 2px;

}

.insideGrid{

  display:flex;
 flex-direction: column;
}

.labelGrid{

  display:grid;
  grid-template-columns: 18% 18% 18% 18% 18% 18%;
  margin-left:4%;

}

.affichage {

margin:100px;
font-size:1.5rem;

display:block;
height:auto;
animation: fadeIn 0.5s;

}

.affichage> img{

  animation: fadeIn 0.5s;
  border-radius:10px;
}

.affichage> div {

  font-size:1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.black{

  background: black;
}
@media screen and(max-width :800px) {



.infoStyle{

  display:inline-block;
  width:auto;
  height: auto;
  background-color: rgb(96, 62, 191);
  border: 2px solid black;
  border-radius: 5px;
  color:white;
  cursor: pointer;


}
}