
*{
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}
h1{

    color:blue;
}

div {

    border-radius: 5px;
}
body {

    margin:20px;
    border:solid black 2px;
    height:auto;
    padding:10px;
}

.menuBox {
    border :blue solid 2px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:600px;
    margin:20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,193,100,0.9865196078431373) 0%, rgba(0,212,255,1) 100%);
    
}

.menuButton {
    margin:10px;
    border:solid black 2px;
    width:150px;
    height:50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
  
  
}

.header{
    width:auto;
    border :green solid 2px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,25,114,0.9865196078431373) 0%, rgba(0,212,255,1) 32%);

}

a{
    text-decoration: none;
}

.content{

    background-color: azure;
}


.laboContainer{

    display:flex;
    flex-direction:column;
    border:solid;
    

}


