* {
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: Manrope;
    src: url("./fonts/Manrope/Manrope-VariableFont_wght.ttf");
}
body {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.container {
    height: 600px;
    width: 1400px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}
.hangedDiv {
    height: 550px;
    width: 350px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas {
    border: 1px inset black;
    border-radius: 20px;
}
.secretDiv {
    height: 550px;
    width: 1000px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.secretDisplay {
    height: 100px;
    width: 700px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    gap: 10px;
}
.keyboard {
    height: 300px;
    width: 700px;
    border: 3px solid black;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.key {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
}
.divLettre {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.button {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    background-color: #B3433B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    cursor:pointer;
}
.key:hover {
    cursor:pointer;
}
.hidden {
    background-color: black;
}
.contourOK {
    border: 2px solid green;
}
.contourFALSE {
    border: 2px solid red;
}